* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #16202c;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  width: 100vw;
}

h1 {
  background-color: #2a455d;
  font-size: 32px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

canvas {
  border: 8px solid #2a455d;
  margin: 20px 0;
}

p {
  font-size: 20px;
  font-weight: bold;
}